/* Universal reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}

/* Body Styling */
body {
    background-color: #000;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

/* Header Styling */
.header {
    margin-bottom: 20px;
    text-align: center;
}

.header h1 {
    color: #fff;
    font-size: 2.5rem;
}

/* Main Container */
.main-container {
    text-align: center;
}

/* Button Styling */
.start-overlay button,
.results-overlay button,
#submit-answer {
    background-color: #aaa;
    /* Default gray color */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}

#submit-answer.active-submit {
    background-color: #4CAF50;
    /* Green when active */
}

.start-overlay button:hover,
.results-overlay button:hover,
#submit-answer:hover {
    background-color: #367c39;
}

/* Quiz and Results Container */
.quiz-container,
.results-overlay {
    background-color: #292929;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 60px;
    width: 90%;
    max-width: 600px;
}

.question {
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
}

.answer-buttons {
    display: grid;
    grid-gap: 10px;
}

.answer-buttons button {
    background-color: #ddd;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.answer-buttons button:hover {
    background-color: #ccc;
}

.hidden {
    display: none;
}

.results-box {
    color: #fff;
}

#score-text,
#percentage-text {
    font-size: 20px;
    margin: 10px 0;
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.progress {
    height: 10px;
    width: 0%;
    background-color: #4CAF50;
    border-radius: 5px;
}

.selected-answer {
    background-color: #bbb;
    /* More distinct gray for selected answer */
}

.summary {
    text-align: left;
    margin-top: 20px;
}