/* Universal reset, affecting all elements */
* {
    box-sizing: border-box;
    color: #fff;
}

/* Basic webpage styling */
body {
    background-color: #000;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
.navbar {
    background-color: #4b0082;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Quiz container */
.quiz-container {
    background-color: #4b0082;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(75, 0, 130, 0.1);
    width: 90%;
    max-width: 600px;
    overflow: hidden;
}

.quiz-header {
    padding: 1rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #4b0082;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.1rem;
}

button:hover {
    background-color: #ae00ff;
}

button:focus {
    outline: none;
    background-color: #ae00ff;
}

/* Start box and style */
.start-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-box {
    padding: 20px 40px;
    background-color: #292929;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#start-quiz {
    margin-top: 20px;
}

/* Message box */
.message-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.message-box {
    background-color: #292929;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 90%;
}

/* Results container */
.results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.results-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    justify-content: center;
    align-items: center;
}

.results-box {
    padding: 20px 40px;
    background-color: #292929;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Basic heading styling */
h1 {
    margin-top: 0;
}

.score,
.percentage {
    font-size: 1.5rem;
    margin: 10px 0;
}

/* Footer Styles */
.footer {
    background-color: #4b0082;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}



    @media (max-width: 768px) {
        .navbar {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;
        }

        .menu {
            display: flex;
            flex-direction: column;
            width: 80%%;
            align-items: center;
        }

        .menu li a {
            display: block;
            padding: 10px 20px;
            width: 100%;
            text-align: center;
        }
    }

@media (max-width: 768px) {
    .aboutmain {
        max-width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
}